<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>

<!-- Эксперимент с табличным представлением пользователей --
<div class="users_grid">
  <%#= render @users %>
</div>-->